@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100% !important;
}

.list-section {
  .list-content {
    > h1 {
      font-size: 20px;
      font-weight: 600;
      padding: 10px;
    }
    > span {
      font-size: 14px;
      padding: 10px;
    }
  }
}
.buttons {
  display: flex;
  margin: 10px;
  padding: 16px;
  gap: 20px;
}

.list-content {
  h1 {
    color: rgb(95, 119, 255);
  }
  > p {
    padding: 10px;
    color: brown;
  }
}
